# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

In [2]:
!wget "https://github.com/shmihmih/iad-intro-ds/raw/master/2023/homeworks/Data.zip"
!unzip "Data.zip"

--2023-02-18 18:12:18--  https://github.com/shmihmih/iad-intro-ds/raw/master/2023/homeworks/Data.zip
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/shmihmih/iad-intro-ds/master/2023/homeworks/Data.zip [following]
--2023-02-18 18:12:18--  https://raw.githubusercontent.com/shmihmih/iad-intro-ds/master/2023/homeworks/Data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16727 (16K) [application/zip]
Saving to: ‘Data.zip’

Data.zip            100%[===================>]  16.33K  --.-KB/s    in 0s

2023-02-18 18:12:18 (50.2 MB/s) - ‘Data.zip’ saved [16727/16727]

Archive:  Data.zip
   creating: Data/
  inflating: Data/Students_info_0.csv
  inflating: Data/Students_info_1.csv
  inflating: Data/Students_info_2.csv
  inflating: Data/Students_info_3.csv
  inflating: Data/Students_info_4.csv
  inflating: Data/Students_info_5.csv
  inflating: Data/Students_info_6.csv
  inflating: Data/Students_info_7.csv
  inflating: Data/Students_info_8.csv
  inflating: Data/Students_info_9.csv
  inflating: Data/Students_marks_0.csv
  inflating: Data/Students_marks_1.csv
  inflating: Data/Students_marks_2.csv
  inflating: Data/Students_marks_3.csv
  inflating: Data/Students_marks_4.csv
  inflating: Data/Students_marks_5.csv
  inflating: Data/Students_marks_6.csv
  inflating: Data/Students_marks_7.csv
  inflating: Data/Students_marks_8.csv
  inflating: Data/Students_marks_9.csv

In [21]:
data1 = pd.read_csv('/content/Data/Students_info_0.csv')
data2 = pd.read_csv('/content/Data/Students_marks_0.csv')
data1.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group
0,0,female,group B,bachelor's degree,standard,none,group1
1,1,female,group C,some college,standard,completed,group1
2,2,female,group B,master's degree,standard,none,group1
3,3,male,group A,associate's degree,free/reduced,none,group1
4,4,male,group C,some college,standard,none,group1

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [34]:
info = pd.read_csv('/content/Data/Students_info_0.csv')
marks = pd.read_csv('/content/Data/Students_marks_0.csv')
for i in range(1,10):
  info = pd.concat([info, pd.read_csv('/content/Data/Students_info_'+str(i)+'.csv')])
  marks = pd.concat([marks, pd.read_csv('/content/Data/Students_marks_'+str(i)+'.csv')])
df = pd.merge(info, marks, how='left', on='index')
df.sample(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
52,52,male,group C,some college,standard,none,group1,53,44,42
502,502,male,group C,some college,free/reduced,none,group6,63,61,54
665,665,female,group C,some high school,free/reduced,completed,group7,50,60,60
685,685,female,group E,master's degree,standard,completed,group7,94,99,100
169,169,female,group C,some college,free/reduced,completed,group2,67,75,70
362,362,female,group C,some college,standard,none,group4,52,58,58
884,884,female,group E,associate's degree,standard,none,group9,51,51,54
588,588,female,group C,some college,standard,none,group6,54,64,65
144,144,male,group D,some college,standard,none,group2,88,73,78
638,638,male,group E,some college,standard,none,group7,86,76,74

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [35]:
df = df[df.columns.drop('index')]
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [36]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [44]:
df.describe() #тут будет немного лишнего, если это критично, то см. следующую ячейку

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [54]:
print(df.min(numeric_only=True))
print(df.max(numeric_only=True))
print(df.mean())
print(df.std())

math score        0
reading score    17
writing score    10
dtype: int64
math score       100
reading score    100
writing score    100
dtype: int64
math score       66.089
reading score    69.169
writing score    68.054
dtype: float64
math score       15.163080
reading score    14.600192
writing score    15.195657
dtype: float64

<ipython-input-54-88f6beb91a12>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.mean())
<ipython-input-54-88f6beb91a12>:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.std())

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [51]:
df.isnull().sum()
#видим везде нули, делаем вывод, что пропущенных значений нет

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [55]:
df.mean()

<ipython-input-55-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [65]:
df.groupby(by='test preparation course').mean()
#студенты, прошедшие курс, показали лучшие результаты. Но не на порядок выше

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [60]:
set(df['lunch'])

{'free/reduced', 'standard'}

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [77]:
df = df.rename(columns = {'parental level of education':'education','test preparation course':'test preparation'})

**Зафиксируем минимальный балл для сдачи экзамена**

In [67]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [88]:
print((df['math score']>=passmark).mean()) #доля студентов, сдавших экзамен по математике, 0.865
print((df[df['test preparation']=='completed']['math score']>=passmark).mean()) #доля студентов, проходивших курс подготовки к экзамену, сдавших экзамен по математике
print((df[(df['test preparation']=='none')&(df['gender']=='female')]['math score']<passmark).mean()) #ответ на третий вопрос

0.865
0.9217877094972067
0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [99]:
%%time
df.groupby(by='race/ethnicity')['reading score'].mean()

CPU times: user 2.99 ms, sys: 0 ns, total: 2.99 ms
Wall time: 4.28 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [101]:
%%time
df.groupby(by='education')['writing score'].min()

CPU times: user 2.87 ms, sys: 0 ns, total: 2.87 ms
Wall time: 2.88 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [107]:
%%time
for group in list(set(df['race/ethnicity'])):
  print(group, df[df['race/ethnicity']==group]['reading score'].mean())

group C 69.10344827586206
group D 70.03053435114504
group A 64.67415730337079
group B 67.35263157894737
group E 73.02857142857142
CPU times: user 11.9 ms, sys: 1.16 ms, total: 13 ms
Wall time: 15.4 ms

In [109]:
%%time
for education in list(set(df['education'])):
  print(education, df[df['education']==education]['writing score'].min())

bachelor's degree 38
high school 15
some high school 10
some college 19
associate's degree 35
master's degree 46
CPU times: user 15.4 ms, sys: 0 ns, total: 15.4 ms
Wall time: 16.3 ms

вывод: с помощью groupby делается быстрее

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [154]:
df.groupby(['gender','education']).mean()

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [118]:
df['Math_PassStatus'] = df['math score'].apply(lambda score: 'F' if score<passmark else 'P')
df['Reading_PassStatus'] = df['reading score'].apply(lambda score: 'F' if score<passmark else 'P')
df['Writing_PassStatus'] = df['writing score'].apply(lambda score: 'F' if score<passmark else 'P')
print(df['Math_PassStatus'].value_counts())
print(df['Reading_PassStatus'].value_counts())
print(df['Writing_PassStatus'].value_counts())

P    865
F    135
Name: Math_PassStatus, dtype: int64
P    910
F     90
Name: Reading_PassStatus, dtype: int64
P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [127]:
df['OverAll_PassStatus'] = ((df['Math_PassStatus']=='P')&(df['Reading_PassStatus']=='P')&(df['Writing_PassStatus']=='P')).apply(lambda x: 'P' if x else 'F')
(df['OverAll_PassStatus']=='P').sum()

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [144]:
def GetGrade(average_mark):
    if average_mark>90: return 'A'    
    elif average_mark>=80: return 'B'
    elif average_mark>=70: return 'C'
    elif average_mark>=60: return 'D'
    elif average_mark>=50: return 'E' 
    else: return 'F'

df['Grade']=df[['math score','reading score','writing score']].mean(axis=1).apply(GetGrade)

In [146]:
df.Grade.value_counts()

C    261
D    256
E    182
B    148
F    103
A     50
Name: Grade, dtype: int64